$base_color: black

.slider
  .holder
    position: relative
    margin: 20px auto 0 auto
    border-radius: 4px
    overflow: hidden
    .content-holder
      cursor: pointer
      position: relative
      margin: 0
      padding: 0
      list-style: none
      height: 368px
  li
    position: relative
    display: block
    float: left
    margin: 0
    padding: 0
    width: 500px
    height: 368px
    background: #ccc
    text-align: center
    line-height: 300px
  img
    width: 500px
    height: 368px

@import _nav.sass
