!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Slider Builder
    %link{:rel=>"stylesheet", :href=>"./styles/styles.css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
    %script{:src => "./js/main.js", :type => "application/javascript"}
    %script{:src => "./js/slider.js", :type => "application/javascript"}
    %script{:src => "./js/preview.js", :type => "application/javascript"}
    %script{:src => "handlebars-v4.0.5.js", :type => "application/javascript"}
  %body
    .input-form
      %label{:for=>"arrayURL"}
        %p Вставьте ваш массив ссылок
      %form
        %textarea{:id=>"arrayURL", :rows=>"10", :cols=>"50"}
      %input{:name=>"button", :type=>"submit", :value=>"Сохранить"}
    %script{:id => "preview-template", :type => "text/x-handlebars-template"}
      .js-slider-preview.slider-preview
        {{#each urls}}
        %div
          %img{:src =>"{{this}}"}
          %span Comment PLZ!
          %input.comment{:type=>"text", :size=>"40", :value=>"{{@index}}"}
          %input{:name => "button", :type => "submit", :value => "Удалить"}
        {{/each}}
        %input{:name => "button", :type => "submit", :value => "Сохранить"}
    %script{:id => "slider-template", :type => "text/x-handlebars-template"}
      .slider
        %p.control-next >>
        %p.control-prev <<
        %ul.js-content-holder.content-holder
          {{#each slidesTemp}}
          %li{:"data-number" => "{{@index}}"}
            %div
              %img{:src=>"{{img}}"}
              {{#if com}}
              %span.comment {{com}}
              {{/if}}
          {{/each}}
        .nav.js-nav
          {{#each slidesTemp}}
          %span{:"data-number" => "{{@index}}"}
          {{/each}}
